.img{background:url(../images/img.png)  no-repeat;}
.right{height:33px;width:20px;background-position:0 0;}
._4{height:42px;width:29px;background-position:-20px 0;}
._3{height:41px;width:29px;background-position:-49px 0;}
._5{height:52px;width:52px;background-position:-78px 0;}
._6{height:52px;width:68px;background-position:-130px 0;}
._1{height:70px;width:71px;background-position:-198px 0;}
._2{height:99px;width:109px;background-position:-269px 0;}