$blue:#68cdd5;


@mixin flex ($direction:row, $justify:space-between, $align:stretch, $flex:auto, $overflow: visible) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	flex: $flex;
	overflow: $overflow;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	height: 100%;
	background-color: $blue;
	@include flex($direction: column,$justify: space-around, $align: center, $overflow:auto);

	.arrow {
		margin: 5% 0 0 7%;
		align-self: start;
		max-width: 8%;
	}

	.logo {
		margin-top: 5%;
		max-width: 30%;
	}

	p {
		font-size: 1.5rem;
		color: #fff;
		line-height: 2.6rem;
	}

	.describe {
		margin-top: 5rem;
		max-width: 85%;
	}

	.icon {
		width: 85%;
		@include flex($align: center)

		.icon-1,
		.icon-2 {
			text-align: center;

			img {
				max-width: 50%;
			}
		}
	}
}