html {
  font-size: 62.5%;
  min-width: 320px;
}

html body {
  margin: 0;
}

header {
  background: #5fc0cd url(../img/back.png) no-repeat left center;
  background-size: 2rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  color: white;
}

header h1 {
  margin: 0;
}

.nav {
  position: relative;
  background: url(../img/bg.png) no-repeat;
  width: 100%;
  height: 15rem;
  background-size: cover;
}

.nav .head {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  background: url(../img/head.png) no-repeat;
  background-size: contain;
}

.nav .describe {
  position: absolute;
  left: 11rem;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
}

.nav .describe .name {
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
}

.nav .describe .address {
  background: url(../img/logo.png) no-repeat left center;
  background-size: contain;
  padding-left: 2rem;
}

.content {
  font-size: 1.2rem;
}

.content .headline {
  margin-left: 1rem;
  padding-left: 0.5rem;
  border-left: 0.4rem solid #5fc0cd;
}

.content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 0.2rem solid #cccccc;
}

.content ul li {
  position: relative;
  width: 95%;
  line-height: 1.8rem;
  border-bottom: 0.2rem solid #cccccc;
  margin: 0 2%;
  padding: 1rem 0;
}

.content ul li:first-child p {
  display: inline-block;
  background: url(../img/star.png) no-repeat left center;
  background-size: contain;
  padding-left: 2rem;
  margin: 0;
}

.content ul li .title {
  margin: 0 1rem;
  padding-right: 1rem;
  display: inline-block;
  color: #cccccc;
  border-right: #cccccc solid 0.2rem;
}

.content ul li .gut {
  display: inline-block;
  color: black;
}

.content ul li .red {
  color: red;
}

.content ul li .fix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content ul li .right {
  margin-left: 8rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}

footer a {
  width: 44%;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #5fc0cd;
  text-decoration: none;
  color: #5fc0cd;
}

footer .message {
  float: left;
  margin: 1rem 0 1rem 1rem;
}

footer .phone {
  float: right;
  margin: 1rem 1rem 1rem 0;
  color: white;
  background-color: #5fc0cd;
}
