@import "_common";

nav {
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    background-color: $cyan;
    z-index: 1;

    .menu {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
        background: url(../img/menu.png) no-repeat center center;
        background-size: contain;
    }
}

main {
    position: absolute;
    top: 4rem;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: $snow;
    @include flex(column, space-around, center, auto);

    .title {
        width: 100%;
        height: 5rem;
        border: 1px $outline solid;
        background: white url(../img/gray-arrow.png) no-repeat 98% center;
        background-size: 1.5rem 2rem;
        text-align: center;
        line-height: 5rem;
        font-size: 2rem;

        a {
            color: $gray;
        }
    }

    .section {
        width: 100%;
        height: 100%;
        margin-top: 1.5rem;
        border: 1px $outline solid;
        background-color: white;
        @include flex(column, space-between, center, auto);
        position: relative;

        .name {
            width: 100%;
            height: 6rem;
            border-bottom: $orange 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $orange;
            font-size: 2rem;
            margin-bottom: 2rem;
            padding: 0.5rem 0;
        }

        .version {
            @include flex(column, center, center);
            width: 90%;
            text-align: center;
            position: relative;

            a {
                width: 90%;
                height: 8rem;
                line-height: 8rem;
                color: white;
                font-size: 1.5rem;
                background-color: $cyan;
            }

            span {
                margin: 1rem auto;
                font-size: 1.2rem;
                color: $gray;
            }
        }


        .next-arrow {
            position: absolute;
            top: 50%;
            right: 0rem;
            margin-top: -0.5rem;
            border: 1rem solid transparent;
            border-left-color: #fbb435;
        }

        ul {
            margin-bottom: 0.6rem;

            li {
                display: inline-block;
                border-radius: 50%;
                margin-left: 0.3rem;
                width: 0.5rem;
                height: 0.5rem;
                background-color: $gray;

                &:first-child {
                    background-color: $cyan;
                }
            }
        }
    }
}