$gray:#b1b1b1;

html {
    font-size: 62.5%;
    min-width: 320px;
}

@mixin flex ($direction:row, $justify:space-between, $align:stretch, $flex: auto, $overflow: visible) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex: $flex;
    overflow: $overflow;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: #5fc0cd;
    z-index: 100;

    .switch {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 2.5rem;
        width: 10rem;
        background-color: #55a8b3;
        border-radius: 0.5rem;
        text-align: center;
        line-height: 2.5rem;

        a {
            color: white;
        }

        .nurse {
            color: #5fc0cd;
            width: 50%;
            float: right;
            border-radius: 0.5rem;
            background-color: white;
        }
    }

    .navigation {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        height: 1.8rem;
        width: 1.8rem;
        background: url(../img/1.png) no-repeat center center;
        background-size: contain;
    }
}

main {
    position: absolute;
    width: 100%;
    top: 3rem;
    bottom: 4rem;
    overflow: auto;

    .inquire {
        width: 100%;
        height: 3rem;
        letter-spacing: -5px;
        border-bottom: 1px #e1e5e7 solid;
    }

    .btn-group {
        letter-spacing: normal;
        display: inline-block;
        width: 33.3%;
        text-align: center;
        position: static;

        &:nth-child(n+2) {
            border-left: 2px transparent solid;
            border-image: linear-gradient(#fff, #e1e5e7, #fff)1;
        }

        button {
            display: block;
            width: 100%;
            color: $gray;

            &:hover,&:active,&:visited,&:link,&:focus {
                color: $gray;
                box-shadow: none;
            }
        }

        ul {
            width: 100%;
            transform: translateX(5px);

            li {
                width: 100%;
            }
        }
    }

    .contain {
        position: relative;
    }

    .content {
        position: relative;
        border-bottom: 1px #e1e5e7 solid;
        height: 7rem;
        width: 100%;
        @include flex($align:center);

        ul {
            margin-left: 1rem;
            overflow: hidden;
            min-width: 10rem;

            li {
                padding-left: 1.8rem;
            }
            
            li:first-child{
                color: $gray;
                background: url(../img/4.png) no-repeat center left;
                background-size: contain;
            }

            li:nth-child(2){
                color: black;
                font-weight: 500;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            li:last-child{
                color: $gray;
                background: url(../img/3.png) no-repeat center left;
                background-size: contain;
            }
        }

        .price {
            margin-right: 1rem;
            padding-right: 1.5rem;
            right: 0.5rem;
            color: red;
            background: url(../img/right.png) no-repeat center right;
            background-size: 1rem 1.5rem;
            white-space: nowrap;
        }
    }
}

footer {
    @include flex(row, space-around, center);
    background-color: #f8fafb;
    border-top: 0.01rem solid #bfbfbf;
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 0.5rem;

    img {
        display: block;
        max-height: 1.8rem;
        margin: 0 auto;
    }

    .edit img {
        max-height: 3.5rem;
    }

    .homepage {
        color: #5fc0cd;

        img {
            margin-top: 0.4rem;
            margin-bottom: 0.1rem;
        }
    }

    .personal-data {
        color: rgb(128, 127, 127);

        img {
            margin-top: 0.4rem;
            margin-bottom: 0.1rem;
        }
    }
}