html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: auto;
  overflow: visible;
  background-color: #eeeff3;
}

header {
  background-color: #5fc0cd;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: auto;
  overflow: visible;
  padding: 0 2%;
  height: 5rem;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
}

.sign, .password {
  margin: 1rem 0;
  height: 4rem;
  overflow: hidden;
}

.sign input, .password input {
  margin: 1rem 0 1rem 4rem;
  padding-left: 2rem;
  height: 2rem;
  width: 100%;
  font-size: 1.5rem;
  border: 0;
  outline: none;
  border-left: #eeeff3 solid 2px;
}

.sign {
  background: white url(../img/phone.png) no-repeat 1rem center;
  background-size: 1.3rem;
}

.password {
  background: white url(../img/locked.png) no-repeat 1rem center;
  background-size: 1.3rem;
}

button {
  background-color: #5fc0cd;
  color: white;
  border: none;
  height: 5rem;
  font-size: 1.8rem;
  letter-spacing: 1rem;
  outline: none;
}

#forget {
  color: #5fc0cd;
  margin: 1rem;
  align-self: flex-end;
}
